@import './../../../scss/abstracts/all';
$imagePath: "../../../../";

:local(.facet) a { 
    white-space: nowrap;
    color: $default-text;
    text-decoration: none;
    &:not(:root:root) {
        line-height: 26px;}
    
    &:hover {
        cursor: pointer;
        color: $anchor-active;
    }
    input {
        position: absolute;
        opacity: 0;
        height: 22px;
        width: 22px;
        cursor: pointer;
        &+label {
            position: relative;
            padding-left: 25px;
            margin: 5px 0;
            font-weight: normal;
            cursor: pointer;
            
        }
    }
    &:local(.empty) {
        opacity: .7;
    }
    label  {
        &:hover {
            cursor: pointer;
        }
        padding-left: 10px;
        text-decoration: none;
        > span {   
            max-width: 80%;         
            text-overflow: ellipsis;
            overflow: hidden;
            text-decoration: none;
            display: inline-block;
            position: relative;            
            margin-right: 4px;
            font-weight: 400;
        }   
        > span + span {   
            font-weight: 700;
        }        
    }  
    .svg-checkbox {
        font-size: 1.4em;
        display: inline-block;
        margin-bottom:2px;
        &:not(:root:root) {
            margin-bottom: -2px;}
               
    }     
}

:local(.filterItems){
    list-style: none;
    margin-left: 16px;

    &:local(.hidden) {        
        display: none;
    }
}
:local(.badge) a {    
    display: inline-block;    
    font-size: .8em;    
    margin: 0 5px;
    color: $default-text;
    text-decoration: none;
    + :local(.badge) a {
        font-size: .7em;
    }   
    &:hover {
        color: $anchor-active;
        cursor: pointer;
    }
    label {               
        display: flex;
        align-items: center;   
        padding: 0 4px 4px 4px;        
        border: 1px solid $primary-border; 
          
        > span {
            overflow: visible;
            max-width: 100%;
            padding-bottom: 4px;
            padding-right: 5px;
        }   
        > svg.svg-checkbox {
            position: relative;
            top: 2px;
            font-size: 1em;
        }
    }   
}