@import '../../../scss/abstracts/all';
$imagePath: "../../../../";

:local(.filterItem) {
  :local(.filterName) {
    font-size: 1em;
    line-height: 1.25;
    padding: 5px 0 5px 30px;
    font-weight: 600;
    border-bottom: 1px solid $primary-border;
  }

  :local(.facets) {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:local(.closed) {
    :local(.facets) {
      max-height: 0px!important;
    }
  }

  :local(.expandArrow) {
    position: absolute;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 6px;
    margin-left: 6px;
  }

  &:hover {
    cursor: pointer;
  }
}
