@import "../../../scss/abstracts/all";
$imagePath: "../../../../";

:local(.filterItem) {
  :local(.expandButton) {
    border: none;
    padding: 0;
    text-align: left;
    background: none;
    display: flex;
    width: 100%;
    border-bottom: 1px solid $primary-border;
    align-items: center;
    margin: 10px 6px;
    &:focus-visible {
      outline-color: $anchor-active;
      outline-style: auto;
      outline-width: 2px;
      outline-offset: 2px;
    }
    :local(.expandArrow) {
      position: absolute;
      font-size: 1.3em;
      font-weight: 400;
    }
    :local(.filterName) {
      font-size: 1em;
      padding: 0 0 0 24px;
      font-weight: 600;
      margin: 0;
    }
  }

  :local(.facets) {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:local(.closed) {
    :local(.facets) {
      max-height: 0px !important;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
