$imagePath: "../../../../";

:local(.facet) {
    white-space: nowrap;
    &:hover {
        cursor: pointer;
    }
    input {
        position: absolute;
        opacity: 0;
        height: 22px;
        width: 22px;
        cursor: pointer;
        &+label {
            position: relative;
            padding-left: 25px;
            margin: 5px 0;
            font-weight: normal;
            cursor: pointer;
            
        }
    }
    &:local(.empty) {
        opacity: .7;
    }
    label  {
        &:hover {
            cursor: pointer;
        }
        padding-left: 10px;
        > span {
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            position: relative;
            top: 4px;
            margin-right: 4px;
            font-weight: 400;
        }
    }  
    .svg-checkbox {
        font-size: 1.2em;
    } 
    
}

:local(.filterItems){
    list-style: none;
    

    &:local(.hidden) {        
        display: none;
    }
}