@import "./../../../scss/abstracts/all";
$imagePath: "../../../../";

:local(.facet) {
  &:local(.empty) {
    opacity: 0.7;
  }

  a {
    height: 22.5px;

    display: flex;
    align-items: center;
    color: $default-text;
    text-decoration: none;
    white-space: nowrap;
    margin: 4px;
    &:hover {
      cursor: pointer;
      color: $anchor-active;
    }

    &:focus-visible {
      outline-color: $anchor-active;
      outline-style: auto;
      outline-width: 2px;
      outline-offset: 2px;
    }

    :local(.facetCheckbox) {
      display: inline-block;
      font-size: 1.4em;
      margin-bottom: -1px;
      vertical-align: middle;
    }

    :local(.facetName) {
      padding-left: 8px;
      > span {
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline;
        font-weight: 400;
      }

      > span + span {
        font-weight: 700;
      }
    }
  }
}

:local(.filterItems) {
  margin-left: 16px;
  &:local(.hidden) {
    display: none;
  }
}
