:local(.tabs) {
    padding: 0;
    margin: 16px 0 0 0;
    list-style: none;

    :local(.tab) {
        display: inline-block;
        border-bottom: 6px solid transparent;
        color: #333;
        font-size: 12pt;
        font-weight: 600;
        margin-right: 16px;
        cursor: pointer;

        &.active {
            border-color: #fe5000;
        }

        :local(.badge) {
            color: #fff;
            background-color: #fe5000;
        }
    }
}