:local(.listItem) {
	line-height: 1.6;
	border-bottom: 1px solid #ccc;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

	:local(.listItemTitle) {
		display: block;
		font-size: 1.2em;
	}

	:local(.listItemInfo) {
		display: block;
		font-size: 1em;
	}

	:local(.listItemType) {
		display: block;
		font-size: 1em;
		&:local(.StandardPage){
			color: red;
		}
		&:local(.NewsPage){
			color: green;
		}
	}
}
