@import "../../../scss/abstracts/all";

:local(.listItem) {
	line-height: 1.6;
	padding: 20px 0 20px 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
	border-bottom: 1px solid $primary-border;

	> div:first-child {
		flex: 5;
	}

	> div:last-child {
		flex: 1;
	}
	:local(.url) {
		font-size: 0.8em;
		&:hover {
			cursor: pointer;
		}
	}

	:local(.listItemTitle) {
		display: block;
		font-size: 16px;
		margin-bottom: 5px;
		@include breakpoint(tablet) {
			font-size: 19px;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	:local(.listItemInfo) {
		display: block;
		font-size: 0.8em;

		> svg {
			margin-right: 5px;
			font-size: 1.2em;

			&:local(.red) {
				color: $primary-danger;
			}

			&:local(.yellow) {
				color: $primary-warning;
			}

			&:local(.green) {
				color: $primary-success;
			}
		}
	}

	:local(.typeContainer) {
		margin-right: 20px;

		span {
			display: inline-block;
		}
	}

	:local(.buttonGroupContainer) {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		:local(.buttonContainer) {
			&:not(:first-of-type) {
				width: 100px;
				@include breakpoint(tablet) {
					width: 140px;
				}
			}
		}
	}
}

:local(.flex) {
	margin-top: 10px;
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;

	:nth-child(0) {
		flex-grow: 1;
	}
}
