@import '../../../scss/abstracts/all';
:local(.listItem) {
		line-height: 1.6;
		border-bottom: 1px solid $primary-border;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		
		padding: 20px 0;

		:local(.listItemTitle) {
			display: block;
			font-size: 1.2em;
			margin-bottom: 5px;
		}

		:local(.listItemInfo) {
			display: block;
			font-size: .8em;
		}
		&:first-of-type {
			border-top: 1px solid $primary-border;			
		}

		.on {
			font-size: 1em;
			> svg {
				color: $primary-success;
				font-size: 1.5em;
				margin-right: 5px;
			} 
			> span {
				font-size: .8em;
			}
		}
		.off {
			> svg  {
				color: $primary-brand;
				font-size: 1.5em;
			}
			> span {
				font-size: .8em;
			}
		}

	}