@import '../../../scss/abstracts/all';
:local(.listItem) {
		line-height: 1.6;
		border-bottom: 1px solid $primary-border;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;		
		padding: 20px 0;
		margin-left: 20px;
		padding-left: 10px;

		:local(.listItemTitle) {
			display: block;
			font-size: 1.2em;
			margin-bottom: 5px;
		}

		:local(.listItemInfo) {
			display: block;
			font-size: .8em;
			> svg {
				margin-right: 5px;
				font-size: 1.2em;
			}
		}
		&:first-of-type {
			border-top: 1px solid $primary-border;			
		}

		

		.on {
			display: flex;
			width: 120px;
			flex-direction: column;
			font-size: 1.2em;
			align-items: center;			
			> svg {
				color: $primary-success;
				font-size: 1.5em;
				margin-right: 5px;
			} 
			> span {
				font-size: .8em;
			}
			&:hover {
				cursor: pointer;
			}
		}
		.off {
			display: flex;
			width: 120px;
			flex-direction: column;
			align-items: center;
			font-size: 1.2em;
			> svg  {
				color: $primary-brand;		
				margin-right: 5px;	
				font-size: 1.5em;	
			}
			> span {
				font-size: .8em;
			}
			&:hover {
				cursor: pointer;
			}
		}

	}