@use "../../../scss/abstracts/all" as *;
@import "@digdir/designsystemet-css/index.css";

:local(.cardWrapper) {
  width: 100%;
}

:local(.card) {
  width: 100%;
}

:local(.thumbnailBlock) {}
:local(.thumbnailContainer) {}
:local(.thumbnail) {}

:local(.primaryBlock) {}
:local(.secondaryBlock) {}
:local(.actionsBlock) {}


//CSS FOR GRID-----------------------------------------------
:local(.gridMode) {
  :global(.ds-card__block) {
    border: none;
  }

  :local(.card) {
    display: flex;
    flex-direction: column;
    height: 100%;
    --dsc-card-block-border-width: 0;
  }

  :local(.thumbnailBlock) {
    padding: 0;
    overflow: hidden;
  }

  :local(.thumbnailContainer) {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  :local(.thumbnail) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  :local(.primaryBlock) {
    margin-bottom: 6px;

    :local(.meta) { //Datasett fra
      font-size: 0.8em;

      :local(.listItemInfo) { //Gjenbruk av gammel kode for å beholde logikk av fargevalg. 
        display: flex;
        flex-wrap: wrap; //For en linje layout
        gap: 8px;

        a {
          color: inherit;

          &:hover {
            color: #707070;
          }
        }

        > svg {             //Lås ikonet
          font-size: 1.2em;
        }
      }

      :local(.red) {
        color: $primary-danger;
      }

      :local(.yellow) {
        color: $primary-warning;
      }

      :local(.green) {
        color: $primary-success;
      }
    }

    :local(.title) { //Tittel - Feks Administrative Enheter kommuner. 
      font-size: 1.65rem;
      font-weight: 500;
    }

    //Next three blocks are to remove clickable link effect without breaking it.
    :local(.title) a {
      text-decoration: none;
      color: inherit;
    }

    :local(.title) a:hover {
      text-decoration: none;
      color: inherit;
    }

    :local(.title) a:visited {
      color: inherit;
    }
  }

  :local(.secondaryBlock) {
    display: none;
  }

  :local(.actionsBlock) {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  
}

:local(.listMode) {
}