@import '../../../scss/abstracts/all';

:local(.listItem) {
	line-height: 1.6;
	border-bottom: 1px solid $primary-border;

	padding: 20px 0;
	padding-left: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;

	>div:first-child {
		flex: 5;
	}

	>div:last-child {
		flex: 1;
	}

	:local(.listItemTitle) {
		display: block;
		font-size: 1em;
		margin-bottom: 5px;

		@include breakpoint(tablet) {
			font-size: 1.2em;
		}
	}


	:local(.listItemInfo) {
		display: block;
		font-size: .8em;

		>svg {
			margin-right: 5px;
			font-size: 1.2em;

			&.red {
				color: $primary-brand;
			}

			&.yellow {
				color: $primary-warning;
			}

			&.green {
				color: $primary-success;
			}
		}
	}

	&:first-of-type {
		border-top: 1px solid $primary-border;
	}

	:local(.typeContainer) {
		margin-right: 20px;
		span {
			display: inline-block;
		}
	}

	:local(.btnContainer) {
		display: flex;
		justify-content: flex-end;

	}

	.on {
		display: flex;
		width: 100px;
		flex-direction: column;
		font-size: 1em;

		@include breakpoint(tablet) {
			font-size: 1.2em;
			width: 140px;
		}

		align-items: center;

		>svg {
			color: $primary-success;
			font-size: 1.5em;
			margin-right: 5px;
		}

		>span {
			font-size: .8em;
			font-weight: 600;
			color: $anchor-active;
			text-decoration: underline;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.off {
		display: flex;
		width: 100px;
		flex-direction: column;
		align-items: center;
		font-size: 1 em;

		@include breakpoint(tablet) {
			font-size: 1.2em;
			width: 140px;
		}

		>svg {
			color: $primary-brand;
			margin-right: 5px;
			font-size: 1.5em;
		}

		>span {
			font-size: .8em;
			text-decoration: underline;
			color: $anchor-active;
			font-weight: 600;
		}

		&:hover {
			cursor: pointer;
		}
	}

	:local(.formatsContainer) {
		display: block;
		font-size: 1.1rem;

		span {
			display: inline-block;
			
			&::after {
				content: ', ';
				padding-right: 3px;
			}

		}
		span {
			&:last-of-type {
				&::after {
					content: none;
				}
			}
		}
	}

}
:local(.flex) {
	margin-top: 10px;
	flex-direction: column;
	font-size: 1.1rem;
	display: flex;
	flex-wrap: wrap;
	:nth-child(0) {
		flex-grow: 1;
	}
}