:local(.header) {
    background-color: #f8f8f7;
    padding: 20px 20px 0;
    margin-bottom: 10px;
    h1 {
        margin: 0;
        padding: 0;
        font-size: 3em;
        font-weight: 100;
    }
}
