@import '../../scss/abstracts/all';


:local(.morecontainer) {
  width: 100%;
  text-align: center;
}

:local(.morebtn) {
  margin: 0 auto;
  display: block;
  padding: 5px 0 15px;
  margin: 0 80px;
  background: white;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
  border: 1px solid $primary-border;

  &:hover {
    background-color: $primary-background;
    cursor: pointer;
  }

  > span {
    margin: 0 30px;
    display: inline-block;
  }

  > svg {
    font-size: 2em;
    position: relative;
    top: 10px;
  }

  &.hidden {
    display: none;
  }
}

:local(.content) {
  margin: 15px;
  @include breakpoint('tablet') {
    margin: 40px;
  }
}

:local(.btns) {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-left: 1px solid $primary-brand;

  > * {
    flex: 1 1 20%;
    min-width: 250px;
  }
}

:local(.openBtns) {
  @include breakpoint('phablet') {
    display: none;
  }
  @media print {
    display: none;
  }
}

:local(.openBtnsContainer) {
  max-height: 600px;
  transition: all 0.3s ease-in-out;

  &:local(.closed) {
    max-height: 0;
    @include breakpoint(phablet) {
      max-height: 600px;
    }
    overflow: hidden;
  }
}

:local(.flex) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint('tablet') {
    flex-direction: row;
  }

  > * {
    flex-basis: 33%;
  }

  > :local(.textContent) {
    flex-grow: 2;
  }

  > :local(.thumbnailContent) {
    text-align: right;
  }
}

:local(.flex2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint('tablet') {
    flex-direction: row;

    > * {
      flex-basis: 50%;
    }
  }

  > * {
    flex-basis: 100%;
  }
}
:local(.toggle) {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &.open {
    max-height: 2000px;
  }
}

:local(.closed) {
  @media print {
    max-height: none;
  }
  max-height: 0;
  overflow: hidden;
}

:local(.open) {
  overflow: auto;
}

:local(.opendetails) {
  &:hover {
    cursor: pointer;
  }

  > h2 > svg {
    margin-left: 10px;
  }
}
