@import '../../scss/abstracts/all';

:local(.maplist) {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  list-style-position: outside;

}

:local(.morecontainer) {
  width: 100%;
  text-align: center;
}

:local(.morebtn) {
  margin: 0 auto;
  display: block;
  padding: 5px 0 15px 0;
  margin: 0 80px;
  background: white;
  transition: all .3s ease-in-out;
  font-size: 1.2em;
  border: 1px solid $primary-border;

  &:hover {
    background-color: $primary-background;
    cursor: pointer;
  }

  > span {
    margin: 0 30px;
    display: inline-block;
  }

  > svg {
    font-size: 2em;
    position: relative;
    top: 10px;
  }

  &.hidden {
    display: none;
  }
}
:local(.content) {
  margin: 15px;
  @include breakpoint('tablet') {
    margin: 40px;
  }
  > h1 {
    font-weight: 100;
    font-size: 1.8em;
    @include breakpoint('tablet') {
      font-size: 3em;
    }
  }
  p {
    line-height: 1.6em;
    font-size: 1.1em;
  }
  h2 {
    font-size: 1.6em;
    font-weight: 100;
    font-family: $header-font;
    border-bottom: 2px solid $primary-brand;
    display: inline-block;
    @include breakpoint('tablet') {
      font-size: 2.5em;
    }
  }
  h3 {
    font-size: 1.2em;
    font-weight: 300;
    @include breakpoint('tablet') {
      font-size: 1.5em;
    }
  }
}
:local(.btns) {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  >  * {
    flex: 1 1 20%;
    min-width: 250px;
  }
}
:local(.openBtns) {
  @include breakpoint('phablet') {
    display: none;
  }
}
:local(.openBtnsContainer) {
  max-height: 500px;
  transition: all .3s ease-in-out;
  &.closed {
    max-height: 0;
    @include breakpoint(phablet) {
      max-height: 500px;
    }
    overflow: hidden;
  }
}
:local(.flex) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint('tablet') {
    flex-direction: row;
  }
  > * {
    flex-basis: 33%;
  }
}
:local(.flex2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint('tablet') {
    flex-direction: row;
    > * {
      flex-basis: 50%;
    }
  }
  > * {
    flex-basis: 100%;
  }
}
:local(.toggle) {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &.open {
      max-height: 1500px;
    }
}
:local(.closed) {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
}
:local(.open) {
  max-height: 1500px;
  overflow: auto;
  transition: all .3s ease;
}
:local(.opendetails) {
  &:hover {
    cursor: pointer;
  }
  > h2 > svg {
    margin-left: 10px;
  }
}