:local(.list) {
	margin: 0;
	margin-left: 20px;
	padding: 0;
	margin-bottom: 20px;
	list-style-position: outside;
	font-size: 16px;

	:local(.listItem) {
		line-height: 1.6;
		border-bottom: 1px solid #ccc;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;

		:local(.listItemTitle) {
			display: block;
			font-size: 14pt;
		}

		:local(.listItemInfo) {
			display: block;
			font-size: 12pt;
		}

		:local(.listItemType) {
			display: block;
			font-size: 12pt;
			&:local(.StandardPage){
				color: red;
			}
			&:local(.NewsPage){
				color: green;
			}
		}
	}

}