@use "../../../scss/abstracts/all" as *;

:local(.distributionsList) {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr;
  min-width: 350px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 15px;

    @include breakpoint(tablet){
    grid-template-columns: repeat(2, 1fr);

  @include breakpoint(desktop){
    
    grid-template-columns: repeat(3, 1fr);
      }
   }
}