@use '../../scss/abstracts/all' as *;

.alertContainer {
  background-color: #ecf1f6;
  color: black;
  padding: 8px 12px;
  margin: 10px 0;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  
  @include breakpoint('desktop') {
    max-width: none;
  }

  @include breakpoint('tablet') {
    width: 100%;
  }

  .alertContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    height: auto;
  }

  .alertText {
    width: 100%;
    margin: 0;
  }

  .alertLink {
    display: inline;
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }
}