@import '../../scss/abstracts/all';

:local(.facetFilter) {
  @media print {
    display: none;
  }
  @include breakpoint(tablet) {
    margin: 0 0 16px 20px;
    padding: 0px 20px;
  }
  list-style: none;
  background-color: $primary-background;
  width: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  flex: 1;
  border-radius: 4px;

  &:local(.open) {
    width: auto;
    position: fixed;
    top: 324px;
    bottom: 0;
    border: 1px solid $primary-border;
    margin: 0;
    padding: 10px 20px;
    overflow: auto;
    @include breakpoint(tablet) {
      overflow: hidden;
    }
  }
  @include breakpoint(tablet) {
    width: auto;
    position: relative;
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

:local(.showLabel) {
  display: inline-block;
}

:local(.showLabel) {
  display: none;
}

:local(.togglefacet) {
  @media print {
    display: none;
  }
  display: block;
  position: absolute;
  top: 150px;
  font-size: 1.2em;
  border: 1px solid $primary-border;
  background: $primary-background;
  width: 40px;
  height: 40px;
  color: $primary-brand;
  margin-left: 20px;

  > svg {
    margin-left: 10px;
    margin-top: 10px;
  }
  @include breakpoint(tablet) {
    display: none;
  }
}
