
@import '../../scss/abstracts/all';
:local(.facetFilter) {    
    
    
    @include breakpoint(tablet) {
        margin: 0 0 16px 20px;
        padding: 10px 20px;
        max-height: auto;
    }
    list-style: none;
    background-color: $primary-background;
    width: 0;
    transition: all .3s ease-in-out;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    flex: 1;
    &.open {
        width: auto;
        position: fixed;
        top: 324px;
        bottom: 0;                  
        border: 1px solid $primary-border;
        margin: 0 0 0 0;
        padding: 10px 20px;
        overflow: auto;
        @include breakpoint(tablet) {            
            overflow: hidden;
        }
    }

    @include breakpoint(tablet) {
        width: auto;
        
        position: relative;        
    }
    
}
:local(.togglefacet) {
    
    display: block;
    position: absolute;
    top: 150px;
    font-size: 2em;
    border: 1px solid $primary-border;
    background: $primary-background;
    width: 60px;
    height: 60px;
    color: $primary-brand;
    > svg {
        margin-left: 15px;
        margin-top: 12px;
    }
    @include breakpoint(tablet) {
        display: none;
        }
    
}