@import '../../scss/abstracts/all';

:local(.container) {
    display: flex;
    flex-direction: column;
    @include breakpoint(phablet) {
        flex-direction: row;
    }
   
    margin: 0 auto;
    justify-content: space-between;    
    margin-bottom: 40px;
    > div {        
        margin: 10px;
        &:local(.logo) {
            width: 33%;
            img {
                max-width: 256px;
                padding-top: 30px;
            }

        }
        &:local(.about) {
            width: 33%;
        }
        &:local(.contact) {
            width: 33%;
            hr {
                border-color: #333;
            }
        }
    }
}