@import '../../scss/abstracts/all';

:local(.container) {
  display: flex;
  flex-direction: column;
  @include breakpoint(phablet) {
    flex-direction: row;
  }
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 40px;

  > div {
    padding: 10px;

    &:local(.logo) {
      width: 100%;

      img {
        max-width: 256px;
        padding-top: 30px;
      }
      @include breakpoint(tablet) {
        width: 33%;
      }
    }

    :local(.heading) {
      font-size: 1.75rem;
    }

    &:local(.about) {
      width: 100%;
      @include breakpoint(tablet) {
        width: 33%;
      }
    }

    &:local(.contact) {
      width: 100%;
      @include breakpoint(tablet) {
        width: 33%;
      }

      hr {
        border-color: #333;
      }
    }
  }
}
