@import '../../scss/abstracts/all';

:local(.mainNavigationContainer) {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: $primary-background;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}
:local(.breadCrumb) {
    ul {
        display: flex;
        margin-top: 20px;
        li {
            > a {
                font-weight: 400;
            }   
            padding: 0 10px 0 0;
            > svg {
                margin-left: 10px;
            }
            &:first-child {
                padding-left: 10px;
            }
        }
    }
}

:local(.menu) {
    overflow: hidden;
    width: auto;
    transition: all .3s ease-in-out;
    height: 0;
    position: absolute;
    right: 0;
    @include breakpoint(laptop) {
        right: 10%;        
    }
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    top: 50px;
    border-width: 0;
    background-color: white;
    
    &:local(.open) {
        border-width: 2px;
        height: auto;
        max-height: 800px;
        padding: 5px;
               
        overflow: auto;
    } 
}


:local(.openmap) {
    display: block;
    &:hover {
        cursor: pointer;
    }
}
:local(.expandeddownload) {
    overflow: hidden;
    width: auto;
    transition: all .3s ease-in-out;
    height: 0;
    position: absolute;
    right: 20px;    
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    top: 50px;
    border-width: 0;
    background-color: white;
    &:local(.open) {
        border-width: 2px;
        height: auto;
        max-height: 800px;
        padding: 10px;
        overflow: auto;
    } 
}
:local(.selectedlayers) {
    overflow: hidden;
    width: auto;
    transition: all .3s ease-in-out;
    height: 0;
    position: absolute;
    right: 20px;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    top: 50px;
    border-width: 0;
    background-color: white;
    &:local(.open) {
        border-width: 2px;
        height: auto;
        max-height: 800px;
        padding: 10px;
        overflow: auto;
    }
}
:local(.mapitems) {
    li {
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
        &:hover {
            background-color: #e5e5e5;
        }
    
    > span {
        &:hover {
            cursor: pointer;
        }
        padding-right: 20px;
    }
    > svg {
        float: right;
        &:hover {
            cursor: pointer;
        }
    }
        }
}
:local(.mapBtnlink) {
    border: none;
    background: transparent;
    text-decoration: none;
    font-size: 1.2em;
}
:local(.mainNavigation) {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;

    @media (min-width: 35em) {
        flex-wrap: nowrap;
    }

    :local(.logo) {
        flex: 1;
        min-width: 150px;

        @media (min-width: 35em) {
            flex: 0;
            min-width: 200px;
        }

        @media (min-width: 62em) {
            min-width: 248px;
        }

        a {
            display: inline-block;
        }

        img {
            height: 24px;
            width: 150px;

            @media (min-width: 35em) {
                height: 28px;
                width: 175px;
            }

            @media (min-width: 62em) {
                height: 37px;
                width: 233px;
            }
        }
    }

    :local(.search) {
        order: 3;
        width: 100%;
        @media (min-width: 35em) {
            flex: 1;
            order: 0;
            padding: 0 1em;
        }
    }

    

    :local(.iconButton) {
        flex: 0 1;
        display: block;
        margin-left: 12px;
        transition: all .3s ease-in-out;
        svg {
            font-size: 2.5em;
            color: $icon-enabled;
            
        }
        :local(.content) {
            color:$icon-enabled;
        }
        :local(.noContent) {
            color: $icon-disabled;
        }

        img {
            width: 37px;
            height: 37px;
            vertical-align: middle;
        }

        :local(.counter) {
            background-color: $primary-brand;
            border-radius: 50%;
            color: #fff;
            font-size: .857em;
            height: 1.5em;
            line-height: 1.5;
            margin-top: -.25em;
            margin-left: -.5em;
            position: absolute;
            text-align: center;
            width: 1.5em;
        }

    }
}
:local(.openMaplink) {
    display: block;
    text-align: center;
    font-size: 1.4em;

    > svg {
        margin-left: 15px;
        margin-top: 10px;
        position: relative;
        top: 5px;
        font-size: 1.6em;
    }
}
:local(.searchResults) {
    position: absolute;
    background: #fbfcfd;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    border-radius: 2px 0 0 2px;
    display: none;
    top: 37px;
    z-index: 1;

    &.active {
        display: block;
        width: 100%;
    }

    :local(.searchResultsSectionHeadingContainer) {
        padding: 4px 10px;

        :local(.searchResultsSectionHeading) {
            font-size: 1em;
            display: inline-block;
        }

        :local(.counter) {
            padding: 2px 4px;
            color: #fff;
            border-radius: 4px;
            background-color: #fe5000;
            display: inline-block;
            font-size: 1em;
            vertical-align: text-bottom;
            margin-left: 4px;

        }

        :local(.showAllButton) {
            float: right;
            cursor: pointer;
            font-size: 1em;
        }
    }

    :local(.searchResultsSection) {
        display: block;
        margin-bottom: 12px;

        &:nth-child(odd){
            background: #f5f6f7;
        }

        :local(.searchResultsItem) {
            display: block;
            font-size: .8em;
            color: #333435;
            padding: 4px 20px;
            -moz-transition: background-color .2s ease-in-out;
            -o-transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;
            cursor: pointer;
        }

        :local(.searchResultsItem:hover) {
            background: #f0f1f2;
        }
    }
}