@import '../../scss/abstracts/all';
:local(.tabs) {
    margin: 0 0 32px 0;
    padding: 0 20px;
    list-style: none;
    background-color: #f8f8f7;


    :local(.tab) {
        display: inline-block;
        border-bottom: 6px solid transparent;
        color: #333;
        padding: 10px;
        font-size: 1em;
        @include transition(all .3s ease-in-out);
        font-weight: 600;
        margin-right: 16px;
        cursor: pointer;

        &.active {
            border-color: #fe5000;
            background: white;
        }

        :local(.badge) {
            margin-left: 4px;
            height: 18px;
            padding: 2px 4px;
            background: transparent;
            color: #333;
            vertical-align: middle;
            border-radius: 4px;
            &:before {
               content: '( '
           }
           &:after {
            content: ' )'
        }
    }
}
}

:local(.subTabs) {
    margin: 0 0 16px 0;
    padding: 0 20px;
    list-style: none;

    :local(.tab) {
        display: inline-block;
        border-bottom: 6px solid transparent;
        color: #333;
        font-size: .8em;
        font-weight: 600;
        margin-right: 16px;
        cursor: pointer;

        &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f0c8";
            font-weight: 400;
            margin-right: 5px;
        }

        &.active:before {
            content: "\f14a";
        }

        :local(.badge) {
            margin-left: 4px;
            height: 18px;
            padding: 2px 4px;
            color: #fff;
            vertical-align: middle;
            border-radius: 4px;
            background-color: #fe5000;
        }
    }
}
:local(.list) {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    margin-bottom: 20px;
    list-style-position: outside;
   
}
:local(.maplist) {
    margin: 0;
    padding: 0;    
    margin-bottom: 20px;
    list-style-position: outside;
   
}