:local(.facet) {
    display: inline-block;
    margin: 20px 0;
    font-size: .8em;
    > div {
        display: inline-block; 
        margin: 20px 0 0;
        font-size: 1em;       
        > span {
            background-color: white;
            padding: 5px 20px;
            margin: 5px;
            border: 1px solid #d8d8d8;
        }
    }
    > span {
        background-color: white;
        padding: 5px 20px;
        margin: 5px;
        border: 1px solid #d8d8d8;
    }

}