$body-background: #ffffff;
$primary-background:  #f7f7f7;
$primary-border: #d8d8d8;
$primary-brand: #FE5002;
$icon-disabled: #C2BBBA;
$icon-enabled: #333;
$primary-success: #06A755;
$anchor-active:#3767C7;