$body-background: #ffffff;
$primary-background:  #f7f7f7;
$primary-border: #d8d8d8;
$primary-brand: #FE5000;
$primary-danger: #e00d0d;
$primary-warning: #C38621;
$icon-disabled: #C2BBBA;
$secondary-brand: #4C7AA9; //#7da1c4;
$icon-enabled: #333;
$primary-success: #06A755;
$anchor-active:#3767C7;
$default-text:#2f3940;