@import '../scss/abstracts/all';

:local(content-container.test) {
    @media print {
        position: static;
        height: auto;
      }
      margin-top: 184px;
      height: calc(100% - 184px);
      overflow-y: auto;
      width: 100%;
      position: absolute;
      @media (min-width: 340px) {
        margin-top: 147px;
        height: calc(100% - 147px);
      }
      @media (min-width: 410px) {
        margin-top: 142px;
        height: calc(100% - 142px);
      }
      @media (min-width: 540px) {
        margin-top: 105px;
        height: calc(100% - 105px);
      }
      @include breakpoint(phablet) {
        margin: 57px 0;
        height: calc(100% - 57px);
      }
}