@import "../../../scss/abstracts/all";

:local(.open) {
  display: inline;
}

:local(.expandmapbutton) {
  font-size: 3em;
  color: $primary-brand;
}

:local(.btn) {
  text-decoration: none;
  background: white;
  color: $default-text;
  width: 100%;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba($primary-brand, 0.2);
  border-right-width: 1px;
  margin-left: -1px;
  margin-bottom: -1px;

  &:hover {
    cursor: pointer;
    background: $primary-brand;
    color: white;
    text-decoration: none;

    > svg {
      font-size: 1.6em;
      margin-right: 5px;
      color: white;
    }
  }

  > svg {
    position: relative;
    top: 4px;
    margin-right: 5px;
    font-size: 1.6em;
    color: $primary-brand;
  }

  > span {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
  }

  &:local(.disabled) {
    &:hover {
      cursor: default;
      background: white;

      > svg {
        margin-right: 5px;
      }
    }
    color: $icon-disabled;

    > svg {
      margin-right: 5px;
      color: $icon-disabled;
    }
  }

  &:local(.download) {
    > svg {
      margin-right: 5px;
    }
    &:hover {
      background-color: $primary-success;
    }
    &:not(:hover) {
      > svg {
        color: $primary-success;
      }
    }
  }

  &:local(.remove) {
    > svg {
      margin-right: 5px;
    }
    &:hover {
      background-color: $primary-danger;
    }
    &:not(:hover) {
      > svg {
        color: $primary-danger;
      }
    }
  }
  &:local(.downloadservice-slow),
  &:local(.service-slow) {
    > svg {
      color: orange;
    }
    &:hover {
      background-color: orange;
      > svg {
        color: #fff;
      }
    }
    &:not(:hover) {
      > svg {
        color: orange;
      }
    }
  }
}

:local(.GeonorgeMenuButton) {
  &:hover {
    cursor: pointer;
  }

  > span {
    width: 50px;
  }
}

:local(.menuContent) {
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(phablet) {
    flex-wrap: nowrap;
  }

  ul {
    margin: 0 20px;
    max-width: 150px;
    @include breakpoint(tablet) {
      max-width: inherit;
    }

    li {
      margin: 10px;

      a {
        text-decoration: none;
      }

      &:first-child {
        a {
          border-bottom: 1px solid $primary-border;
          padding-bottom: 10px;
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }
}

:local(.secondaryContent) {
  text-align: right;
  border-top: 1px solid $primary-border;
  margin: 10px 25px;

  > ul {
    margin: 0;
    padding: 10px 5px 0;

    > li {
      display: inline-block;
      padding: 0.25em 1em 0.25em 1.1em;

      &:not(:nth-child(1)) {
        border-left: 1px solid #b6afa8;
      }
    }

    > li:hover {
      cursor: pointer;
    }
  }
}

:local(.on) {
  > svg {
    color: $primary-success;
  }

  &:local(.service-slow) > svg {
    color: orange;
  }
}

:local(.off) {
  > svg {
    color: $primary-danger;
  }
}

:local(.ext) {
  > svg {
    color: $primary-brand;
  }
}

:local(.listButton) {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  font-size: 1em !important;
  align-items: center;
  @include breakpoint(tablet) {
    font-size: 1.2em !important;
    width: 140px;
  }

  > svg {
    font-size: 1.5em;
    margin-right: 5px;
  }

  > span {
    font-size: 0.8em;
    text-decoration: underline;
    color: $anchor-active;
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
  }

  :local(.loadingAnimation) {
    display: flex;
    width: 140px;
  }
}

:local(.loading) {
  &:local(.btn) {
    img {
      height: 24px;
      display: inline-block;
      margin: 0 auto -9px;
    }
  }

  &:hover {
    cursor: default;
    background-color: #fff;
  }

  :local(.errorMessage) {
    text-decoration: none;
    cursor: default;
    color: $default-text;
  }
}
