@import '../../../scss/abstracts/all';
:local(.open) {
    display: inline;
}
.sublist {
    max-height: 0;    
    overflow: hidden;
    display: block;
    transition: all .5s ease-in-out;
    &.open {
        max-height: 1000px;
    }
}
:local(.expandmapbutton) {
    font-size: 3em;
    color: $primary-brand;
}
:local(.btn) {
    background: green;
}