@use "../../../scss/abstracts/all" as *;
@import "@digdir/designsystemet-css/index.css";

@import "@digdir/designsystemet-css";

//Buttons for the cards in searchresult. 







:local(.listButton) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 130px;
  min-height: 44px;
  box-sizing: border-box;

  white-space: nowrap;
  text-decoration: none;

  border: 1px solid black;
  border-radius: 6px;

  background-color: var(--ds-color-neutral-background-hover);
  color: var(--ds-color-neutral-text-default);

  :local(.buttonText) {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: #f0f0f0;
    color: var(--ds-color-neutral-text-default);
    cursor: pointer;
    text-decoration: none;
  }

  &:focus-visible {
    outline-color: $anchor-active;
    outline-style: auto;
    outline-width: 2px;
    outline-offset: 2px;
  }

  >svg {
    font-size: 1.5em;
    margin-right: 5px;
  }

  >span {
    font-size: 1rem;
    color: inherit;
  }

  @include breakpoint(tablet) {
    min-width: 140px;
    font-size: 1.2rem;

    >span {
      font-size: 1.2rem;
    }
  }
}


//Buttons for the metadata detail page. 
:local(.detailButton) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: px 16px;
  border-radius: 3px;

  width: 340px;
  height: 44px;
  font-size: 1.3rem;

  text-decoration: none;

  :local(.secondaryButton) {
    background-color: #ffffff !important;
    color: #5a5858 !important;
    border-color: #5a5858 !important;
  }

  svg {
    font-size: 1.5rem;
    flex-shrink: 0;
  }
}

//Workaround, easier than implementing designsystemet. 
:local(.primaryButton) {
  background-color: #5a5858 !important;
  color: #ffffff !important;
  border-color: #5a5858 !important;

  &:hover {
    background-color: #444242 !important;
    color: #ffffff !important;
    text-decoration: none !important;
  }
}

:local(.secondaryButton) {
  background-color: #ffffff !important;
  color: #5a5858 !important;
  border-color: #5a5858 !important;

  &:hover {
    background-color: #f5f5f5 !important; // lys grå
    color: #5a5858 !important;
    border-color: #5a5858 !important;
    text-decoration: none !important;
  }
}

