@import '../../../scss/abstracts/all';
:local(.open) {
    display: inline;
}
.sublist {
    max-height: 0;    
    overflow: hidden;
    display: block;
    transition: all .5s ease-in-out;
    &.open {
        max-height: 1000px;
    }
}
:local(.expandmapbutton) {
    font-size: 3em;
    color: $primary-brand;
}
:local(.btn) {
    text-decoration: none;
    background: white;    
    color: $default-text;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    transition: all .3s ease-in-out;
    border: 1px solid rgba($primary-brand, .2);
    border-right-width: 1px;
    margin-left: -1px;
    margin-bottom: -1px;    
    
    &:hover {
        cursor: pointer;
        background: $primary-brand;
        color: white;
        > svg {
            font-size: 1.6em;
            margin-right: 5px;
            color: white;
        }
    }

    > svg {
        position: relative;
        top: 4px;
        margin-right: 5px;
        font-size: 1.6em;
        color: $primary-brand;        
    }
    &.downloadservice-slow {
        > svg {
            color: orange;
        }
    }
    &.disabled {
        &:hover {      
            cursor: default;      
            background: white;
            > svg {
                margin-right: 5px;                
            }
        }
        color: $icon-disabled;
        > svg {
            margin-right: 5px;
            color: $icon-disabled;
        }

    }
    &.download {        
        > svg { 
            margin-right: 5px;           
            color: $primary-success;
        }

    }
    &.remove {        
        > svg { 
            margin-right: 5px;           
            color: $primary-danger;
        }

    }
}
:local(.GeonorgeMenuButton) {
   &:hover {
    cursor: pointer;   
    }
    > span {
        width: 50px;
    }
}
:local(.menuContent) {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(phablet) {
     flex-wrap: nowrap;
    }
    ul {
        margin: 0 20px;
        max-width: 150px;
        @include breakpoint(tablet) {
            max-width: inherit;
           }
        
        li {
            margin: 10px;
            a {
                text-decoration: none;
            }
            &:first-child {
                a {
                    border-bottom: 1px solid $primary-border;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    display: block;
                }
            }
        }        
    }
}
:local(.secondaryContent) {
    text-align: right;
    border-top: 1px solid $primary-border;
    margin: 10px 25px;    
    
    > ul {
        margin: 0;
        padding: 10px 5px 0;
        > li{
            display: inline-block;
            padding: .25em 1em .25em 1.1em;
            &:not(:nth-child(1)) {
                border-left: 1px solid #b6afa8;
            }
        }
        > li:hover {
            cursor: pointer;
        }
    }
}