/* MainNavigation override */
#MainNavigation-container ._3B1LRFfRPk-NKjaVU9e95_ {
    position: static;
}

.container {
    max-width: 100%;
}


/* Footer override */
._2jpDh5o0JctCtWcFG25IQ9 {
    max-width: 100%;
}