@import '../../../../scss/abstracts/all';
$imagePath: "../../../../../";

:local(.filterItem) {
    :local(.filterName) {
        font-size: 1em;
        line-height: 1.25;
        padding: 5px 0 5px 20px;    
        border-bottom: 1px solid $primary-border;    
    }

    :local(.facets) {
        display: none;
        list-style: none;
    }

    &:local(.expanded) {        
        :local(.facets) {            
            display: block;
            padding: 0;
        }
    }
    :local(.expandArrow) {        
            position: absolute;
            font-size: 1.3em;
            font-weight: 400;
            margin-top: 6px;

        
    }
}