@import 'scss/abstracts/all';

#ie > div {
  margin: 130px 20px 20px;
  overflow: hidden;

  .banner {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #f7f7f7;
    height: 100px;
    margin: -20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

    > img {
      height: 37px;
      margin-top: 40px;
      margin-left: 20px;
    }
  }
}

:local(.pageContent) {
  @media print {
    position: static;
    height: auto;
  }
  margin-top: 184px;
  height: calc(100% - 184px);
  overflow-y: auto;
  width: 100%;
  position: absolute;
  @media (min-width: 340px) {
    margin-top: 147px;
    height: calc(100% - 147px);
  }
  @media (min-width: 410px) {
    margin-top: 142px;
    height: calc(100% - 142px);
  }
  @media (min-width: 540px) {
    margin-top: 105px;
    height: calc(100% - 105px);
  }
  @include breakpoint(phablet) {
    margin-top: 57px;
    height: calc(100% - 57px);
  }
}

:local(.footer) {
  margin: 0 auto;
}

:local(.container) {
  padding-bottom: 10px;
  margin-bottom: 30px;
}

:local(.kartkatalogen) {  
  font-size: 16px;
  font-family: $default-font, sans-serif;
  margin: 0;
  padding: 0;

  h1 {
    font-family: $header-font, sans-serif;
    @media print {
      font-family: 'Arial', sans-serif;
      font-weight: 100;
    }
  }
}

img {
  max-width: 100%;
}