.kartkatalogen {
    
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
    
    h1 {
        font-family: 'Raleway', sans-serif;
    }
    
}


:local(.pageContent) {
    margin-top: 57px;
    height: calc(100% - 57px);
    overflow-y: auto;
    width: 100%;
    position: absolute;
}
