@import 'scss/abstracts/variables/all';

:local(.pageContent) {
    margin-top: 57px;
    height: calc(100% - 57px);
    overflow-y: auto;
    width: 100%;
    position: absolute;
}
.kartkatalogen {
    
	font-size: 16px;
	font-family: $default-font, sans-serif;
	margin: 0;
	padding: 0;

h1 {
	font-family: $header-font, sans-serif;
}

}
