::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
    border-radius: 0;
    background: #e0e1e2;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0;
    background: transparent;
}

.btn-success {
    background-color: #7da1c4;
}

#ie div {
    margin: 130px 20px 20px;
    overflow: hidden;
}
#ie div .banner {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #f7f7f7;
    height: 100px;
    margin: -20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
#ie div .banner > img {
    height: 37px;
    margin-top: 40px;
    margin-left: 20px;
}

gn-shortcut-button {
    position: fixed;
    left: -10000px;
    z-index: 99;
}