::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
    border-radius: 0;
    background: #e0e1e2;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0;
    background: transparent;
}

.btn-success {
    background-color: #7da1c4;
}



