@import "@digdir/designsystemet-css/theme";
@import "@digdir/designsystemet-css";

:root {
    --ds-color-accent-background-default: #ffffff;
    --ds-color-text-default: #292c30;
}

.ds-tag {
    border-radius: 4px !important;
    padding: 2px 10px !important;
}
